<!DOCTYPE html>
<html>
<head>
  <title>Posts: <%= controller.action_name %></title>
  <link rel="stylesheet" href="http://assets.engineyard.com/stylesheets/master.css" type="text/css" media="screen" />
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="branding">
      </div>
    </div>

    <div class="content">
      <p class="notice"><%= notice %></p>

      <%= yield %>
    </div>
  </div>

</body>
</html>
